<p style="color: green"><%= notice %></p>
<h3 class="header">Inventorable</h3>
<div id="items">
  <table id="customers">
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>links</th>
    </tr>

    <% @items.each do |item| %>
      <%# <% cache item do %> 
        <tr class=" <%#=  'deleted' if item.deleted? %> ">
        <tr class=" <%=  item.deleted? ? 'deleted' : '' %> ">
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td> 
            <%= link_to "Show", item %> <br> 
            <%= link_to "Edit", edit_item_path(item) %> <br> 
            <%= link_to "Delete", soft_deletion_item_path(item),  method: :delete  %> <br>
            <%= link_to "Deletion Notes", comment_path(item.comments.first) if item.comments.any?  %>
          </td>
        </tr>
      <%# <% end %>
    <% end %>
  </table>
</div>

<%= link_to "New item", new_item_path %>